body {
    background-color: yellow;
    }

h1 {
    text-align: center;
}

.one{
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-property: width;
    transition-duration: 3s;
}

.one:hover {
    width: 300px;
}
.two {
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-property: width, height ;
    transition-duration: 3s;
}
.two:hover {
    width:300px;
    height: 300px;
}
.three {
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-timing-function: linear;
    transition-property: width;
    transition-duration: 3s;
}
.three:hover {
    width: 300px;
}
.four {
    border: 1px solid black; 
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-timing-function: cubic-bezier(0.63, 0.02, 0.24, 0.99);
    transition-property: width;
    transition-duration: 3s;

}
.four:hover {
    width: 300px;
}
.five {
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.86, 0.08, 0.25, 1.01);

}
.five:hover {
    width: 300px;
}
.six{
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}
.six:hover{
    width:300px;
}
.seven {
    border: 1px solid black;
    width:100px;
    height:100px;
    background-color: yellowgreen;
    position: relative;
    left:550px;
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.81, 0.04, 0, 0.99);
    
}
.seven:hover {
    width:300px;
}
.sample {
    text-align: center;
    color: blue;
}